#carros{
    display: flex;
    justify-content: space-evenly;
}

.card-carro{
    margin: 50px;
    border: 3px groove #fff;
    border-radius: 5px;
    width:  30%;
    background-color: #ffffff;
    cursor: pointer;

    & .IMG-CARRO img{
        width: 100%;
        border-radius: 5px;
    }

    & .especificacoes{
        font-size: 10px;
        color: #000000;
        margin-left: 5px;
    }

    & .valor{
        background-color: #000;
        color: #ffffff;
        font-size: 20px;
        padding: 5px;
        border-radius: 5px;
    }
}

.name-car{
    display: flex;
    font-size: 20px;
    color: #000000;
    align-items: center;
    gap: 8px;

    & img{
        width: 8%;
        margin-left: 4px;
    }
}

.p-ano{
    display: flex;
    color: #000000;
    font-weight: 200;
    font-size: 15px;
    gap: 50px;
    align-items: center;
    text-align: center;

    & img{
        width: 20px;
        
    }
}

.comprar{
    display: flex;
    background-color: #000;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    color: #ffffff;
    height: 50px;

    & .btn-plataforma{
        height: 50%;
        width: 100px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        background-color: #000000;
        border: 1px solid #fff;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
    }
    
    & .btn-plataforma:hover{
        background-color: #fff;
        color: #000;
        
    }
}


.p-ano  .fe{
    justify-content: space-between;
    color: #000000;
    margin-left: 5px;
    padding: 10px;
}


@media (max-width: 1900px) {
    #carros{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }

    .card-carro{
        margin: 50px;
        border: 3px groove #fff;
        border-radius: 5px;
        width:  300px;
        background-color: #ffffff;
        cursor: pointer;
    
        & .IMG-CARRO img{
            width: 100%;
            border-radius: 5px;
        }
    
        & .especificacoes{
            font-size: 10px;
            color: #000000;
            margin-left: 5px;
        }

    
        & .valor{
            margin-top: 10px;
            background-color: #000;
            color: #ffffff;
            font-size: 20px;
            padding: 5px;
            border-radius: 5px;
        }
    }
}

@media (max-width: 1400px){
    #carros{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;     
    }
}

@media (max-width: 1000px) {
    #carros{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        gap: 20px;
    }
}

@media (max-width: 900px) {
    #carros{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        gap: 20px;
    }
}


@media (max-width: 800px) {
    #carros{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        gap: 20px;
    }

    .card-carro{
        margin: 50px;
        border: 3px groove #fff;
        border-radius: 5px;
        
        background-color: #ffffff;
        cursor: pointer;
    
        & .IMG-CARRO img{
            width: 100%;
            border-radius: 5px;
        }
    
        & .especificacoes{
            font-size: 10px;
            color: #000000;
            margin-left: 5px;
        }
    
        & .valor{
            margin-top: 10px;
            background-color: #000;
            color: #ffffff;
            font-size: 20px;
            padding: 5px;
            border-radius: 5px;
        }
    }
}
@media (max-width: 750px) {
    #carros{
        display: grid;
        margin-left: 10%;
        grid-template-columns: repeat(1,1fr); 
        gap: 20px;
    }
}