header {
    display: flex;
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: black;
    align-items: center;
    justify-content: space-around;
   
        
    &   .menu{
    display: flex;
    gap: 30px;
    }

    & .logo{
    padding: 45px;
    }

    & .logo img{
    width: 35%;
    }
}

nav .menu a {
    padding: 25px;
    color: #e8e8e8;
    font-size: 17px;
    font-weight: bolder;
}

header nav .yellow{
    color: #ffe100;
}

#menu-btn {
    font-size: 25px;
    color: var(--branco);
    cursor: pointer;
    display: none;
    margin-right: 10px;
    color: #fff;
}






